<!DOCTYPE html>
<html>
  <head>
    <title>DunderMifflinPetShop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Dunder Mifflin Dog App</h1>
    <% if flash[:errors] %>
        <% flash[:errors].each do |e| %>
          <li style="color: red;">
            <%= e %>
          </li>
        <% end %>
    <% end %>

    <%= yield %>
  </body>
</html>
